.gitignore: *.sql.gz
.initializers
*.pem
configuration/*
!configuration/configuration.py
!configuration/extra.py
configuration/ldap/*
!configuration/ldap/extra.py
!configuration/ldap/ldap_config.py
!configuration/logging.py
!configuration/plugins.py
prometheus.yml
super-linter.log
.vscode/
docker/configuration/configuration.py
dist/

# Python
__pycache__/
*.py[cod]
*.pyd
*.pyo
*.pyc
*.so

# Local Development
netbox/
!.vscode/launch.example.json
